body {
  margin: 0;
  background: #8fbdfd; 
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.links {
  text-align: center;
}

.links a {
  display: inline-block;
  margin: 5px;
  padding: 8px 14px;
  background: #11457E; 
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.links a:hover {
  background: #0d3963;
}


header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px 20px;
  background: #11457E;
}

header h1 {
  margin: 0;
  color: #fff;
  text-align: center;
}


footer{
  display: flex;
  padding: 10px 20px;
  position: relative;
  background: #11457E;
}