h1 {
    text-align: center;
}

.ua {
    width: 300px;
    height: 200px;
    border: 1px solid #000000;
    margin: 20px auto;
    background: linear-gradient(to top, #ffff00 0%,#ffff00 50%, #001eff 50%, #001eff 100%);
}

.jp{
    width: 300px;
    height: 200px;
    border: 1px solid #000000;
    margin: 20px auto;
    background: radial-gradient(circle, #ff0000 0%, #ff0000 35%, #ffffff 35%, #ffffff 100%);
}

.ic{
    width: 300px;
    height: 200px;
    border: 1px solid #000000;
    margin: 20px auto;
    background:
    linear-gradient(to right, 
    transparent 0%, transparent 25%,
    #ff0000 25%, #ff0000 35%,
    transparent 35%, transparent 100%),

    linear-gradient(to top, 
    transparent 0%, transparent 35%,
    #ffffff 35%, #ffffff 40%,
    #ff0000 40%, #ff0000 50%,
    #ffffff 50%, #ffffff 55%,
    transparent 55%, transparent 100%),

    linear-gradient(to right, 
    #001eff 0%, #001eff 20%,
    #ffffff 20%, #ffffff 25%,
    #ff0000 25%, #ff0000 35%,
    #ffffff 35%, #ffffff 40%,
    #001eff 40%, #001eff 100%);
}

.cz{
    width: 300px;
    height: 200px;
    margin: 20px auto;
    border: 1px solid #000000;
    background: linear-gradient(to bottom, 
    #ffffff 0%, #ffffff 50%, 
    #ff0000 50%, #ff0000 100%);
    position: relative;
  
}
.cz::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;   
  height: 100%;
  background: #11457E;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}


